@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#180d27, #0c0219);
  color: #e5d9f1;
  min-height: 100vh;
}

#app {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 30rem;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(#341a89, #3a1967);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

h1 {
  letter-spacing: 0.15rem;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

#actions {
  max-width: 24rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}

#actions button {
  width: 7rem;
  text-align: center;
  border-radius: 6px;
  border: none;
  padding: 0.5rem 0;
  background: linear-gradient(#531a89, #4c1f8c);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  color: #e5d9f1;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

#actions button:hover {
  background: linear-gradient(#7e1a89, #7f1f8c);
}

#counter {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}
